@media (max-width: 1200px) {
  .container-fluid {
    width: 100%;
  }

  .title-header {
    padding-bottom: 0;
  }

  .filter {
    display: inline-block;
    padding-left: 5%;
    text-align: left;
  }

  #title {
    height: 500px;
  }
}
