@media (max-width: 992px) {
  .container-fluid-title {
    width: 100%;
  }

  .title-header {
    padding-bottom: 0;
  }

  .filter {
    display: inline-block;
    padding-left: 5%;
    text-align: left;
  }

  #title {
    height: 500px;
  }
}

@media (max-width: 1180px) {
  .container-fluid-body {
    width: 99%;
  }
}

@media (max-width: 1200px) {
  .container-fluid-title {
    width: 100%;
  }
}
