@media (max-width: 575px) {
  .container-fluid {
    width: 100%;
  }

  .title-header {
    padding-bottom: 0;
    font-size: 2rem;
  }

  .filter {
    display: inline-block;
    padding-left: 5%;
    text-align: left;
  }

  #title {
    height: 360px;
  }

  #body {
    width: 99%;
  }

  .body-header {
    font-size: 1.55rem;
  }

  .body-entry-img {
    border-radius: 5px 5px 0 0;
  }

  .body-entry-desc-price {
    position: static;
  }
}
