body {
  background-color: #F7FBFC;
  font-family: "Montserrat";
}

.container-fluid {
  padding: 0 10%;
}

/* Navigation Bar */
.navbar {
  padding: 0;
}

.navbar-logo {
  width: 4rem;
  height: 4rem;
  margin-right: 3%;
  margin-left: 6%;
  border-radius: 50%;
}

.navbar-item {
  font-size: 1.5rem;
}

/* Title */
#title {
  width: 100%;
  height: 100%;
  color: #F7FBFC;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/spain-pool.png');
  border-radius: 5px;
}

.title-header {
  padding: 15%;
  font-size: 2.5rem;
  line-height: 1.5;
}

.title-desc {
  font-size: 1.2rem;
}

.title-btn {
  margin: 3% 0 0 0;
}
