@media (max-width: 768px) {
  .container-fluid-title {
    width: 100%;
  }

  .container-fluid-body {
    width: 99%;
  }

  .title-header {
    padding-bottom: 0;
    font-size: 3rem;
  }

  .filter {
    display: inline-block;
    padding-left: 5%;
    text-align: left;
  }

  #title {
    height: 420px;
  }
}
